practical_6/practical_6.json
[
    {
        "id": "d75122c9615c3b3f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6d690c96f2a7b844",
        "type": "mqtt in",
        "z": "d75122c9615c3b3f",
        "name": "Management",
        "topic": "kumbh_mela/management",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f11749700027f15d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "02270760f58cd7ea"
            ]
        ]
    },
    {
        "id": "02270760f58cd7ea",
        "type": "debug",
        "z": "d75122c9615c3b3f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "609b705bcd12f4cc",
        "type": "mqtt out",
        "z": "d75122c9615c3b3f",
        "name": "Management(pub)",
        "topic": "kumbh_mela/management",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f11749700027f15d",
        "x": 430,
        "y": 120,
        "wires": []
    },
    {
        "id": "ccac6ef25f1509e3",
        "type": "inject",
        "z": "d75122c9615c3b3f",
        "name": "Management Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10 volunteers needed for crowd control at Gate 5.",
        "payloadType": "str",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "609b705bcd12f4cc"
            ]
        ]
    },
    {
        "id": "cb887b29f9990357",
        "type": "mqtt in",
        "z": "d75122c9615c3b3f",
        "name": "Security",
        "topic": "kumbh_mela/security",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f11749700027f15d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 200,
        "wires": [
            [
                "19837869da56770f"
            ]
        ]
    },
    {
        "id": "d7302c69e36e7b80",
        "type": "mqtt in",
        "z": "d75122c9615c3b3f",
        "name": "Sanitation",
        "topic": "kumbh_mela/sanitation",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f11749700027f15d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 340,
        "wires": [
            [
                "446374f54f04bf7a"
            ]
        ]
    },
    {
        "id": "4ac0e7cb4bf13f8a",
        "type": "mqtt in",
        "z": "d75122c9615c3b3f",
        "name": "Transport",
        "topic": "kumbh_mela/transport",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f11749700027f15d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 760,
        "wires": [
            [
                "19425ad8ed4e1b01"
            ]
        ]
    },
    {
        "id": "64c09cfb2ccd6833",
        "type": "mqtt in",
        "z": "d75122c9615c3b3f",
        "name": "Healthcare",
        "topic": "kumbh_mela/healthcare",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f11749700027f15d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 480,
        "wires": [
            [
                "7945f557a42af070"
            ]
        ]
    },
    {
        "id": "6af869065635f3d7",
        "type": "mqtt in",
        "z": "d75122c9615c3b3f",
        "name": "Announcements",
        "topic": "kumbh_mela/announcements",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f11749700027f15d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 900,
        "wires": [
            [
                "34cf2a18f6e11112"
            ]
        ]
    },
    {
        "id": "a0dffad33129e91c",
        "type": "mqtt in",
        "z": "d75122c9615c3b3f",
        "name": "Lost_found",
        "topic": "kumbh_mela/lost_found",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f11749700027f15d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 620,
        "wires": [
            [
                "232b09f44c5e7957"
            ]
        ]
    },
    {
        "id": "59a35c52158fbee3",
        "type": "mqtt out",
        "z": "d75122c9615c3b3f",
        "name": "Security(pub)",
        "topic": "kumbh_mela/security",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f11749700027f15d",
        "x": 410,
        "y": 260,
        "wires": []
    },
    {
        "id": "97023fa2439ab2db",
        "type": "mqtt out",
        "z": "d75122c9615c3b3f",
        "name": "Sanitation(pub)",
        "topic": "kumbh_mela/sanitation",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f11749700027f15d",
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "323c0638860a4016",
        "type": "mqtt out",
        "z": "d75122c9615c3b3f",
        "name": "Transport(pub)",
        "topic": "kumbh_mela/transport",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f11749700027f15d",
        "x": 420,
        "y": 820,
        "wires": []
    },
    {
        "id": "c588ade52df0ddfa",
        "type": "mqtt out",
        "z": "d75122c9615c3b3f",
        "name": "Healthcare(pub)",
        "topic": "kumbh_mela/healthcare",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f11749700027f15d",
        "x": 420,
        "y": 540,
        "wires": []
    },
    {
        "id": "fe14f9f6b056cd7e",
        "type": "mqtt out",
        "z": "d75122c9615c3b3f",
        "name": "Announcements(pub)",
        "topic": "kumbh_mela/announcements",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f11749700027f15d",
        "x": 440,
        "y": 960,
        "wires": []
    },
    {
        "id": "77ff622ff66e4b26",
        "type": "mqtt out",
        "z": "d75122c9615c3b3f",
        "name": "Lost_found(pub)",
        "topic": "kumbh_mela/lost_found",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f11749700027f15d",
        "x": 420,
        "y": 680,
        "wires": []
    },
    {
        "id": "39c43d4fe428b6ea",
        "type": "inject",
        "z": "d75122c9615c3b3f",
        "name": "Security Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Stampede risk near VIP area.",
        "payloadType": "str",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "59a35c52158fbee3"
            ]
        ]
    },
    {
        "id": "19837869da56770f",
        "type": "debug",
        "z": "d75122c9615c3b3f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 200,
        "wires": []
    },
    {
        "id": "d87742b19e457304",
        "type": "inject",
        "z": "d75122c9615c3b3f",
        "name": "Healthcare Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "First aid station set up near Gate 3.",
        "payloadType": "str",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "c588ade52df0ddfa"
            ]
        ]
    },
    {
        "id": "69d18e33607bf0c1",
        "type": "inject",
        "z": "d75122c9615c3b3f",
        "name": "Sanitation Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Toilets sanitized in Sector 5.",
        "payloadType": "str",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "97023fa2439ab2db"
            ]
        ]
    },
    {
        "id": "68e935d2136f1a81",
        "type": "inject",
        "z": "d75122c9615c3b3f",
        "name": "Transport Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Bus service from Sector 1 to Main Entrance delayed.",
        "payloadType": "str",
        "x": 160,
        "y": 820,
        "wires": [
            [
                "323c0638860a4016"
            ]
        ]
    },
    {
        "id": "391f26ec665c0ada",
        "type": "inject",
        "z": "d75122c9615c3b3f",
        "name": "Announcements Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Please avoid pushing and follow the queue.",
        "payloadType": "str",
        "x": 140,
        "y": 960,
        "wires": [
            [
                "fe14f9f6b056cd7e"
            ]
        ]
    },
    {
        "id": "c324fb705c1d9efc",
        "type": "inject",
        "z": "d75122c9615c3b3f",
        "name": "Lost_Found Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Missing: 8-year-old boy, wearing a red shirt.",
        "payloadType": "str",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "77ff622ff66e4b26"
            ]
        ]
    },
    {
        "id": "446374f54f04bf7a",
        "type": "debug",
        "z": "d75122c9615c3b3f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 340,
        "wires": []
    },
    {
        "id": "7945f557a42af070",
        "type": "debug",
        "z": "d75122c9615c3b3f",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 480,
        "wires": []
    },
    {
        "id": "232b09f44c5e7957",
        "type": "debug",
        "z": "d75122c9615c3b3f",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 620,
        "wires": []
    },
    {
        "id": "19425ad8ed4e1b01",
        "type": "debug",
        "z": "d75122c9615c3b3f",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 760,
        "wires": []
    },
    {
        "id": "34cf2a18f6e11112",
        "type": "debug",
        "z": "d75122c9615c3b3f",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 900,
        "wires": []
    },
    {
        "id": "f11749700027f15d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]